.create-product-con {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.product-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 200%;

}

.product-form label {
    display: block;
    margin-bottom: 15px;

}

.product-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.create-button {
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
        background-color: #b5e941;
        border-radius: 6px;
        display: inline-block;
        border: none;
        cursor: pointer;
        color: #fff;
        font-size: 1.063rem;
        font-weight: 600;
        transition: 0.2s ease;
        padding: 10px 150px;
}

.create-button:hover {
    background-color: #b5e941;
}
