body {
    font-family: Arial, sans-serif;
    background-color: white;
}
.product-page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 200px auto;
}
.product-image {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-right: 200px;
}
.product-details {
    flex: 1;
}
.product-title {
    font-size: 24px;
    margin: 0;
}
.product-price {
    font-size: 18px;
    margin: 10px 0;
}
.product-location {
    margin: 10px 0;
}
.comments {
    margin-top: 20px;
}
.comment-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
.comment-button {
    background-color: #b5e941;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.edit-button {
    background-color: #E86A0B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.delet-button {
    background-color: #E86A0B;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;


}