.homePageContainer, .signUpContainer, .loginContainer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ovalBackground {
  width: 60vw;
  height: 50vh;
  display: flex;

  background-repeat: no-repeat;
  background-size: cover;
}

.ovalBackground div {
  margin-left: 16px;
}

.signinContainer {
  display: flex;
  flex-direction: column;
}

.signUpForm, .loginForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.homeRightSection, .signUpRightSection, .loginRightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 20px;
}

.updateImageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 48px; */
}

.field {
  color: lightgrey;
}

.logOutButton {
  color: #D0021B;
  outline: none;
  border: 1px solid transparent;
}