/*
.background-modal{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}
.modal {
  z-index: 9999;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 250px;
    position: absolute;
    display: flex;
  }

  .signup-button {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #9edb1a;
    border-radius: 6px;
    display: inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.063rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: block;
    width: 100%;
    height: 100%;
}
.file-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: #f0f2f5;
  } */

.flex {
  display: flex;
  align-items: center;
}

.container {
  padding: 0 15px;
  min-height: 100vh;
  justify-content: center;
  background: #f0f2f5;
}

.signup-page {
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  margin-top: 150px;
  align-content: center;
}

.signup-page .text {
  margin-bottom: 90px;
  padding-left: -10px;
}

.signup-page h1 {
  color: #b5e941;
  font-size: 4rem;
  margin-bottom: 10px;
}

.signup-page p {
  font-size: 1.75rem;
  white-space: nowrap;
}

.form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 200%;
}

.form input {
  height: 55px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 1rem;
  padding: 0 14px;
}

.form input:focus {
  outline: none;
  border-color: #b5e941;
}

::placeholder {
  color: #777;
  font-size: 1.063rem;
}

.link {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #b5e941;
  padding: 15px 0;
  border-radius: 6px;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.link .login:hover {
  background: #b5e941;
}

.form a {
  text-decoration: none;
}

.link .forgot {
  color: #b5e941;
  font-size: 0.875rem;
}

.link .forgot:hover {
  text-decoration: underline;
}

.hr {
  border: none;
  height: 1px;
  background-color: #060606;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  background-color: #e86a0b;
  border-radius: 6px;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2s ease;
}

.gtsa {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}
.password-checklist .green-tick {
  color: green;
  font-size: 16px;
  margin-left: 10px;
}
.password-checklist .red-tick {
  color: red;
  font-size: 16px;
  margin-left: 10px;
}

@media (max-width: 900px) {
  .signup-page {
    flex-direction: column;
    text-align: center;
  }

  .signup-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .signup-page h1 {
    font-size: 3.5rem;
  }

  .signup-page p {
    font-size: 1.3rem;
  }

  .form {
    padding: 15px;
  }
}
