.navigation {
    background-color: #202020;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation a {
        color: #ffffff;;
        text-decoration: none;
}
.signin-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

.signin-text{
    font-size: 30px;
}

.signin-icon {
    height: 40px;
    fill: #ffffff;
    margin-right: 15px;
    margin-top:10px ;
}
.signin-divider{
    font-size: 30px;

    width: 10px;
    margin-right: 10px;
    margin-left: -16px;
    width: 10px;
}
.sw{
    display: flex;
    justify-content: center;
    align-items: center;
}