.navigation {
    background-color: #202020;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: 0;
}
.navigation a {
        color: white;
        text-decoration: none;
}
.signin-navigation-link{
    display: flex;
    justify-content: center;
}

.signin-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 38px;
    fill: #ffffff;
}
.signin-text{
    font-size: 30px;
    padding-right: 5px;
}
.vertical-divider{
    font-size: 28px;
    width: 5px;
    padding-right: 10px;
}
.menu-m-de{
    display: flex;
    flex-direction: row;
    padding-right: 8px;
}

@media (max-width: 500px) {

.navigation  {
    background-color: #202020;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: 0;
}
.nav-img{
    width: 300px;
    margin: 0;
}

.signin-container{
    justify-content: center;
    align-items: center;
    font-size: 5px;
}
.signin-icon{
    width:35px;
    margin-left: 55px;
}
.signin-text{
    display: flex;
    flex-direction: row;
    font-size: 20px;
    width: 5px;
    padding-right: 55px;
    padding-top: 6px;
}
.vertical-divider{
    display: flex;
    flex-direction: row;
    font-size: 27px;
    padding-top: 3px;
}
.menu-m-de{
    display: flex;
    flex-direction: row;
    padding-right: 80px;
}
}
