.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 20px 0px;
  padding: 10px;
}

.cp-button {
  text-align: center;
  background-color: #e86a0b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  transition: 0.2s ease;
  min-height: 32px;
  min-width: 120px;
  padding: 0 10px;
  margin-left: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  display: block;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
  background-color: #f1f1f1;
  outline: none;
  font-size: 24px;
  max-width: 200px;
}

.search-input::placeholder {
  color: #999;
}

@media only screen and (max-width: 360px) {
  .input-container {
    background-color: green;
  }
}
